	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link rel="stylesheet" href="inc/leaflet.css" />
	<link rel="stylesheet" href="inc/css/bootstrap.css">

	<script src="inc/leaflet.js"></script>
	<script src="inc/jquery-3.2.1.min.js"></script>
	<script src="inc/js/bootstrap.js"></script>

	<script src="inc/Leaflet.ImageOverlay.Rotated.js"></script>

<style>

html, body {
    height: 100%;
    width: 100%;
}

#map {
    height: calc(100% - 51px);
    width: 100%;
}

.navbar {margin-bottom: 0;}

</style>
